body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* NAV BAR */
#appBar{
  background-color: black;
}
#menuIconButton{
  /* position: absolute; */
  /* left: 23em; */

}
/* MENU BAR */
#menuBar{
  background-color: white;
}
#transactionHistory{
  display:flex;
  flex-direction:row;
}
#incomeDiv{
  margin-right: 1em;
}


/* BUDGET SUMMARY */
#budgetSummary{
  padding-top: 1em;
  padding-bottom: 1em;
}

#incomeSummary{
  background-color: #28b9b5;
}
#expenseSummary{
  background-color: #ff5049;
}
.summaryAmount{
  color: white;
}
/* INPUT SECTION  */
#addType {
  padding-right: 0.8em;
}
#inputType {
  background-color: white;
}
#income {
  font-weight: bold;
}
#expense {
  font-weight: bold;
}
#addDescription {
  padding-right: 0.8em;
}
#descriptionInput {
  background-color: white;
}
#addValue {
  padding-right: 0.8em;
}
#amountInput {
  background-color: white;
}
#addDate {
  padding-right: 0.8em;
}
#dateInput{
  background-color: white;
}
#submitButton {
  line-height: 2.6;
  /* width: 3em; */
}

/* INCOME SECTION */
#incomeTableHeader {
  color: #28b9b5;
  font-weight: bold;
}
#incomeAmount {
  color: #28b9b5;
}

/* EXPENSE SECTION */
#expenseTableHeader {
  color: #ff5049;
  font-weight: bold;
}
#expenseAmount {
  color: #ff5049;
}
