body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* INPUT SECTION  */
#income{
  font-weight: bold
}
#expense{
  font-weight: bold
}
#addType{
  padding-right: 0.8em;
  /* float: left; */
  /* width: 25%; */
}
#addDescription{
  padding-right: 0.8em;
  /* float: left; */
}
#addValue{
  /* float: right; */
}

/* INCOME SECTION */
#incomeTableHeader{
  color: #28b9b5;
  font-weight: bold

}
#incomeAmount{
  color: #28b9b5;
}

/* EXPENSE SECTION */
#expenseTableHeader{
  color: #ff5049;
  font-weight: bold
}
#expenseAmount{
  color: #ff5049;
}